<video #videoBackground muted loop class="video-background">
  <source src="assets/3048930-uhd_3840_2160_24fps.mp4" type="video/mp4">
  Twój przeglądarka nie wspiera tagu wideo.
</video>


<div class="container">
  <div id="app-name">Activity Tracker</div>
  <div class="login-container">
    <form>
      <div class="form-group">
        <div id="login-text">Zarejestruj się</div>
        <div class="login-form">
          <input type="email" class="form-control" id="form-input" aria-describedby="emailHelp"
            placeholder="Adres e-mail">
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>
      </div>
      <div class="login-form">
        <input type="username" class="form-control" id="form-input" aria-describedby="usernameHelp"
          placeholder="Nazwa użytkownika">
        <small id="usernameHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <div class="login-form">
          <input type="password" class="form-control" id="form-input" placeholder="Podaj hasło">
        </div>
      </div>
      <div class="form-group">
        <div class="login-form">
          <input type="password" class="form-control" id="form-input" placeholder="Podaj hasło ponownie">
        </div>
      </div>
      <div id="login-button">
        <button type="submit" class="btn btn-primary">Rejestracja</button>
      </div>
    </form>
  </div>
</div>
